<% layout('layouts/boilerplate')%>

<input value="<%-jsonData%>" class="hidden-profile-data" hidden />
<input
  value="<%-lengthSettingsOptions%>"
  class="hidden-length-settings"
  hidden
/>
<input value="<%-highscores%>" class="hidden-highscores" hidden />
<div class="main-box">
  <div class="profile-first-row">
    <div class="profile-basic-info">
      <img
        class="profile-img"
        src="<%-profileData.profileImg.thumbnail%>"
        onerror="this.onerror=null; this.src='<%-defaultProfileImg%>'"
      />
      <div class="profile-name">
        <%-profileData?.displayName || profileData?.username %>
      </div>
      <div id="user-country"><%-profileData?.country%></div>
    </div>
    <div class="user-info">
      <div class="personal-info"></div>
    </div>
  </div>
  <div class="info-box-wrapper">
    <h3 class="highscore-title">High Scores</h3>
    <div class="grid-container">
      <div></div>
      <div class="grid-difficulty">
        <p class="grid-text-full">Very Easy</p>
        <p class="grid-text-short">V.Easy</p>
      </div>

      <div class="grid-difficulty">Easy</div>
      <div class="grid-difficulty">Medium</div>
      <div class="grid-difficulty">Hard</div>
      <div class="grid-difficulty">
        <p class="grid-text-full">Very Hard</p>
        <p class="grid-text-short">V.Hard</p>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/account-main.js"></script>
