<div class="sidebar">
  <div class="profile-basic-info account-first-row">
    <img
      class="profile-img"
      src="<%-profileData.profileImg.thumbnail%>"
      onerror="this.onerror=null; this.src='<%-defaultProfileImg%>'"
    />
    <% if(!profileData.displayName) {%>
    <div class="profile-name"><%-profileData.username %></div>
    <% } else { %>
    <div class="profile-name"><%-profileData.displayName %></div>
    <% } %>
    <div id="user-country"><%-profileData.country%></div>
  </div>
  <div class="sidebar-all-tabs">
    <div class="sidebar-tab">Change credentials</div>
    <div class="sidebar-tab">
      <a href="/account/change-profile">Edit Profile</a>
    </div>
    <div class="sidebar-tab">Play sessions</div>
    <div class="sidebar-tab">Detailed stats</div>
    <div class="sidebar-tab">Customize site</div>
  </div>
</div>
