<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIXELIFY</title>
    <link rel="stylesheet" href="/stylesheets/general.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <%-include("../partials/font.ejs")%> <% if(extraStyles){
    %><%-extraStyles%><% } %>
  </head>
  <body>
    <%-include("../partials/navbar") %>
    <main><%-include("../partials/flash") %><%- body %></main>
    <div class="empty-box"></div>
    <%-include("../partials/footer") %>
    <script src="/javascripts/validateForms.js"></script>
  </body>
</html>
