<% layout('layouts/boilerplate')%>
<div class="card">
  <div class="card-box">
    <h1 class="page-title">Continue?</h1>
    <div class="image-box">
      <img
        class="card-image"
        id="pixelatedImage"
        src="<%=sessionData.image%>"
        alt="pixelated image"
      />
    </div>
    <h5 class="card-title" id="continue-card-title">
      Do you want to continue your last session?
    </h5>
    <div class="prev-session-info">
      <div class="session-info-wrapper">
        Difficulty:<%=sessionData.difficulty%>
      </div>
      <div class="session-info-wrapper">
        Progress:<%=sessionData.progress%>/<%=sessionData.length%>
      </div>
    </div>
    <div class="continue-card-buttons">
      <a
        href="/play-settings"
        class="card-button"
        id="button-start-new"
      >
        Start New
      </a>
      <a
        href='/play/<%=sessionData.id%>/<%=sessionData.progress%>'
        class="card-button"
        id="button-continue"
      >
        Continue
      </a>
    </div>
  </div>
</div>
