<% layout('layouts/boilerplate')%>
<div class="card">
  <div class="card-box">
    <div class="image-box">
      <img
        class="card-image"
        id="pixelatedImage"
        src="<%=image%>"
        alt="pixelated image"
      />
    </div>
    <form action="/update-play-data" method="POST">
      <div id="guess-div">
        <h5 class="card-title">What form of game is this?</h5>
        <div class="field">
          <fieldset>
            <div>
              <input
                class="field-input"
                type="radio"
                id="guess-a"
                name="guess"
                value="<%-gameName%>"
              />
              <label for="guess-a"><%-gameName%></label>
            </div>
            <div>
              <input
                class="field-input"
                type="radio"
                id="guess-b"
                name="guess"
                value="b"
              />
              <label for="guess-b">b</label>
            </div>
            <div>
              <input
                class="field-input"
                type="radio"
                id="guess-c"
                name="guess"
                value="c"
              />
              <label for="guess-c">c</label>
            </div>
            <div>
              <input
                class="field-input"
                type="radio"
                id="guess-d"
                name="guess"
                value="d"
              />
              <label for="guess-d">d</label>
            </div>
          </fieldset>
        </div>
      </div>
      <input
        type="hidden"
        id="sessionId"
        name="sessionId"
        value="<%=sessionId%>"
      />
      <input
        type="hidden"
        id="gameName"
        name="gameName"
        value="<%=gameName%>"
      />
      <input
        type="hidden"
        id="imageLink"
        name="imageLink"
        value="<%=imgLink%>"
      />
      <input type="hidden" id="pageNum" name="pageNum" value="<%=pageNum%>" />
      <input type="hidden" id="elemId" name="elemId" value="<%=elemId%>" />
      <div class="guess-buttons">
        <button
          onclick="prevGuess()"
          class="card-button"
          id="button-back"
          value="back"
          name="action"
        >
          Back
        </button>
        <div id="page-counter"><%- pageNum %> of <%=sessionLength%></div>
        <button
          type="submit"
          class="card-button"
          id="button-next"
          value="next"
          name="action"
        >
          Next
        </button>
      </div>
    </form>
  </div>
</div>
<script src="/javascripts/continuousPlay.js"></script>
