<% layout('layouts/boilerplate')%>
<div class="card">
  <div class="card-box">
    <div class="image-box">
      <img
        class="card-image"
        id="pixelatedImage"
        src="../../images/play_settings_preview.jpg"
        alt="pixelated image"
      />
    </div>

    <form action="/send-play-data" method="POST" class="settings-select">
      <div class="setting">
        <h5 class="setting-title">Difficulty</h5>
        <fieldset
          class="setting-fieldset"
          id="difficulty-settings"
          name="difficulty"
        >
          <%Object.entries(remapDifficultyTexts).forEach(option => {%> <%const
          [key, value]=option%>
          <div class="field-input-wrapper">
            <input
              class="field-input"
              type="radio"
              name="difficulty"
              value="<%-key%>"
              id="difficulty-<%-key%>"
              onchange="chooseDifficulty(this)"
            />
            <label for="difficulty-<%-key%>"><%-value%></label>
          </div>
          <%})%>
        </fieldset>
      </div>
      <div class="setting">
        <h5 class="setting-title">Session length</h5>
        <fieldset
          class="setting-fieldset"
          id="length-settings"
          name="sessions-length"
        >
          <%lengthSettingsOptions.forEach((length, index) => {%>
          <div class="field-input-wrapper">
            <input
              class="field-input"
              type="radio"
              id="session-length-<%-index+1%>"
              name="sessionLength"
              value="<%-length%>"
              onchange="isValidLength(this)"
            />
            <label for="session-length-<%-index+1%>"><%-length%></label>
          </div>
          <%})%>
        </fieldset>
      </div>

      <button class="card-button">Start</button>
    </form>
  </div>
</div>
<input
  type="hidden"
  id="lengthArr"
  name="lengthArr"
  value="<%=lengthSettingsOptions%>"
/>
<script src="/javascripts/playSettings.js"></script>
